<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/hicon.ico">
    <title>Holistips Home</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/jquery-ui.structure.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.theme.css" />
    <!-- Custom styles for this template -->
    <link href="~/css/dashboard.css" rel="stylesheet">
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" src="~/images/holistipsblacksmall.jpg" />
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Holistips</a>
   
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                       <li><a asp-area="" asp-controller="Account" asp-action="Login">Log Out</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
                    }
                    <li><a asp-area="" asp-controller="Tips" asp-action="Index">Tips</a></li>
                    <li><a asp-area="" asp-controller="TipPackages" asp-action="Index">Packages</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search..." name="SearchQuery" id="SearchQueryLayout"  formaction="@Url.Action("Index", "Search")">
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>@User.Identity.Name</a></li>
                </ul>
                   

</div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Dashboard <span class="sr-only">(current)</span></a></li>
                    <li><a id="opener">Cool Video </a> </li>
                </ul>
            </div>
            <div>
                  
                @RenderBody()
                <div id="video" title="Cool Video">
                    <video width="400" controls>
                        <source src="http://mirror.cessen.com/blender.org/peach/trailer/trailer_iphone.m4v" type="video/x-m4v">
                        Your browser does not support HTML5 video.
                    </video>
                </div> 
            </div>
        </div>
        <hr />
           <footer>
              <p>&copy; 2016 - Holistips</p>
           </footer>
        </div>

    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/js/autocomplete.js"> </script>
    <script src="~/js/video.js"> </script>
    <script>
      
    $(document).ready(function () {
      
        $.ajax({
            url: "/search/searchstatsjson",
            context: document.body,
            success: function () {
               
            }
        });
    });

    </script>
        @RenderSection("scripts", required: false)

</body>
</html>
